* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial;
  background-color: #f2f2f2;
}

#corners {
  border-radius: 5px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
}
.promo1 {
  width: 100%;
}
.marginTop {
  margin-top: 20px;
}
.marginBot {
  margin-bottom: 80px;
}
.nav {
  background-color: #f2f2f2;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.carousel-img {
  border-radius: 10px;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
